.m-fpm-media-cleaner {
  $this: &;
  --primary-color: rgb(2, 70, 91);
  box-sizing: border-box;
  margin-left: -20px;

  * {
    box-sizing: inherit;
  }

  &__wrapper {
    padding: 0 20px;
  }

  &__content {
    padding: 40px 0;

    &-title {
      margin: 0;
      padding: 0 0 10px 0;
      min-height: 30px;
    }

    table + &-title {
      margin-top: 40px;
    }

    #{$this}__wrapper {
      display: flex;
      gap: 20px;
    }

    @media only screen and (max-width: 960px) {
      #{$this}__wrapper {
        display: block;
      }
    }
  }

  // &__app {
  //   flex: 80%;
  // }

  &__side-bar {
    display: none;
    flex: 20%;
    padding-top: 30px;
  }
  @media only screen and (max-width: 960px) {
  }

  // &__

  &__title {
    background-color: var(--primary-color);
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    position: sticky;
    z-index: 100;
    top: 32px;
    color: white;

    #{$this}__wrapper {
      display: flex;
      align-items: center;
    }

    h1 {
      margin: 0;
      flex: 1 1 auto;
    }

    span {
      flex: 0 0 auto;
    }

    @media screen and (max-width: 782px) {
      top: 46px;
    }
    @media screen and (max-width: 600px) {
      position: relative;
      top: 0;
    }
  }

  &__dialog {
    .dialog-content {
      .jstree-node {
        display: flex;
        flex-wrap: wrap;
      }

      .jstree-wholerow {
        width: 40px;
      }

      .jstree-children {
        width: 100%;
      }
    }
  }

  &__cache-controls {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  &__pagination {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    li {
      margin-bottom: 0;
    }

    button {
      background-color: #c5c6c9;
      border: 1px solid #c5c6c9;
      border-radius: 2px;
      color: #fff;

      width: 27px;
      height: 27px;
      padding: 0;

      &:hover,
      &.active {
        background-color: #787878;
        border-color: #787878;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__footer {
    &-controls {
      display: flex;
      align-items: center;
      gap: 20px;
      flex-wrap: wrap;

      button.button-warn {
        padding: 12px 60px;
      }
    }
  }

  th {
    font-weight: bold;
  }

  tfoot {
    td:last-child {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  .btn {
    background-color: transparent;
    border: 0;

    &.icon {
      display: flex;
      align-items: center;

      i {
        margin-right: 7px;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  table {
    &.is-loading {
      tbody {
        opacity: 0.4;
      }
    }
  }

  table + table {
    margin-top: 10px;
  }

  table table {
    border: 0;

    th {
      border-top: 1px solid #c3c4c7;
    }
  }

  &__cache-table {
    img {
      object-fit: contain;
      width: 40px;
      height: 40px;
    }
  }

  .button-warn {
    background: #dc4848;
    border-color: #dc4848;
    color: #fff;

    &:hover {
      color: #fff;
      background: darken(#dc4848, 10);
      border-color: darken(#dc4848, 10);
    }
  }

  .progressbar {
    display: none;
    padding: 20px 0;

    &.show {
      display: block;
    }

    progress {
      width: 100%;
    }
  }

  .chip-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .image-list {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
  }

  .skip-image {
    position: relative;
    display: inline-block;
    height: 60px;
    width: 60px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .remove {
      --size: 20px;
      background-color: var(--primary-color);
      border: 0;
      width: var(--size);
      height: var(--size);
      position: absolute;
      top: calc(calc(var(--size) / 2) * -1);
      right: calc(calc(var(--size) / 2) * -1);
      z-index: 5;
      padding: 0;
      border-radius: 100%;

      color: white;
      justify-content: center;
      align-items: center;
      display: none;

      &::after {
        content: "x";
        font-size: calc(var(--size) - 2px);
      }

      &:hover {
      }
    }

    img {
      vertical-align: middle;
    }

    &:hover {
      .remove {
        display: flex;
      }
    }
  }

  .chip {
    background-color: #f6f7f7;
    display: inline-flex;
    justify-content: center;
    gap: 5px;
    padding: 5px 10px;

    i {
      color: #8f8f8f;
    }

    .count {
      background-color: #8f8f8f;
      color: white;
      height: 20px;
      width: 20px;
      border-radius: 100%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
  }

  .loading {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 15px;

    div {
      position: absolute;
      top: 0;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: #000;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);

      &:nth-child(1) {
        left: 8px;
        animation: lds-ellipsis1 0.6s infinite;
      }

      &:nth-child(2) {
        left: 8px;
        animation: lds-ellipsis2 0.6s infinite;
      }
      &:nth-child(3) {
        left: 32px;
        animation: lds-ellipsis2 0.6s infinite;
      }
      &:nth-child(4) {
        left: 56px;
        animation: lds-ellipsis3 0.6s infinite;
      }
    }
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
}
