.m-fpm-media-cleaner {
  --primary-color: rgb(2, 70, 91);
  box-sizing: border-box;
  margin-left: -20px;
}
.m-fpm-media-cleaner * {
  box-sizing: inherit;
}
.m-fpm-media-cleaner__wrapper {
  padding: 0 20px;
}
.m-fpm-media-cleaner__content {
  padding: 40px 0;
}
.m-fpm-media-cleaner__content-title {
  margin: 0;
  padding: 0 0 10px 0;
  min-height: 30px;
}
table + .m-fpm-media-cleaner__content-title {
  margin-top: 40px;
}
.m-fpm-media-cleaner__content .m-fpm-media-cleaner__wrapper {
  display: flex;
  gap: 20px;
}
@media only screen and (max-width: 960px) {
  .m-fpm-media-cleaner__content .m-fpm-media-cleaner__wrapper {
    display: block;
  }
}
.m-fpm-media-cleaner__side-bar {
  display: none;
  flex: 20%;
  padding-top: 30px;
}
.m-fpm-media-cleaner__title {
  background-color: var(--primary-color);
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  position: sticky;
  z-index: 100;
  top: 32px;
  color: white;
}
.m-fpm-media-cleaner__title .m-fpm-media-cleaner__wrapper {
  display: flex;
  align-items: center;
}
.m-fpm-media-cleaner__title h1 {
  margin: 0;
  flex: 1 1 auto;
}
.m-fpm-media-cleaner__title span {
  flex: 0 0 auto;
}
@media screen and (max-width: 782px) {
  .m-fpm-media-cleaner__title {
    top: 46px;
  }
}
@media screen and (max-width: 600px) {
  .m-fpm-media-cleaner__title {
    position: relative;
    top: 0;
  }
}
.m-fpm-media-cleaner__dialog .dialog-content .jstree-node {
  display: flex;
  flex-wrap: wrap;
}
.m-fpm-media-cleaner__dialog .dialog-content .jstree-wholerow {
  width: 40px;
}
.m-fpm-media-cleaner__dialog .dialog-content .jstree-children {
  width: 100%;
}
.m-fpm-media-cleaner__dialog .loading {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 15px;
}
.m-fpm-media-cleaner__dialog .loading div {
  position: absolute;
  top: 0;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.m-fpm-media-cleaner__dialog .loading div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.m-fpm-media-cleaner__dialog .loading div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.m-fpm-media-cleaner__dialog .loading div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.m-fpm-media-cleaner__dialog .loading div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
.m-fpm-media-cleaner__cache-controls {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.m-fpm-media-cleaner__pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.m-fpm-media-cleaner__pagination li {
  margin-bottom: 0;
}
.m-fpm-media-cleaner__pagination button {
  background-color: #c5c6c9;
  border: 1px solid #c5c6c9;
  border-radius: 2px;
  color: #fff;
  width: 27px;
  height: 27px;
  padding: 0;
}
.m-fpm-media-cleaner__pagination button:hover, .m-fpm-media-cleaner__pagination button.active {
  background-color: #787878;
  border-color: #787878;
}
.m-fpm-media-cleaner__pagination button:hover {
  cursor: pointer;
}
.m-fpm-media-cleaner__footer-controls {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.m-fpm-media-cleaner__footer-controls button.button-warn {
  padding: 12px 60px;
}
.m-fpm-media-cleaner th {
  font-weight: bold;
}
.m-fpm-media-cleaner tfoot td:last-child {
  padding-top: 20px;
  padding-bottom: 20px;
}
.m-fpm-media-cleaner .btn {
  background-color: transparent;
  border: 0;
}
.m-fpm-media-cleaner .btn.icon {
  display: flex;
  align-items: center;
}
.m-fpm-media-cleaner .btn.icon i {
  margin-right: 7px;
}
.m-fpm-media-cleaner .btn:hover {
  cursor: pointer;
}
.m-fpm-media-cleaner table.is-loading tbody {
  opacity: 0.4;
}
.m-fpm-media-cleaner table + table {
  margin-top: 10px;
}
.m-fpm-media-cleaner table table {
  border: 0;
}
.m-fpm-media-cleaner table table th {
  border-top: 1px solid #c3c4c7;
}
.m-fpm-media-cleaner__cache-table img {
  object-fit: contain;
  width: 40px;
  height: 40px;
}
.m-fpm-media-cleaner .button-warn {
  background: #dc4848;
  border-color: #dc4848;
  color: #fff;
}
.m-fpm-media-cleaner .button-warn:hover {
  color: #fff;
  background: #ca2727;
  border-color: #ca2727;
}
.m-fpm-media-cleaner .progressbar {
  display: none;
  padding: 20px 0;
}
.m-fpm-media-cleaner .progressbar.show {
  display: block;
}
.m-fpm-media-cleaner .progressbar progress {
  width: 100%;
}
.m-fpm-media-cleaner .chip-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.m-fpm-media-cleaner .image-list {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}
.m-fpm-media-cleaner .skip-image {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 60px;
}
.m-fpm-media-cleaner .skip-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.m-fpm-media-cleaner .skip-image .remove {
  --size: 20px;
  background-color: var(--primary-color);
  border: 0;
  width: var(--size);
  height: var(--size);
  position: absolute;
  top: calc(var(--size) / 2 * -1);
  right: calc(var(--size) / 2 * -1);
  z-index: 5;
  padding: 0;
  border-radius: 100%;
  color: white;
  justify-content: center;
  align-items: center;
  display: none;
}
.m-fpm-media-cleaner .skip-image .remove::after {
  content: "x";
  font-size: calc(var(--size) - 2px);
}
.m-fpm-media-cleaner .skip-image img {
  vertical-align: middle;
}
.m-fpm-media-cleaner .skip-image:hover .remove {
  display: flex;
}
.m-fpm-media-cleaner .chip {
  background-color: #f6f7f7;
  display: inline-flex;
  justify-content: center;
  gap: 5px;
  padding: 5px 10px;
}
.m-fpm-media-cleaner .chip i {
  color: #8f8f8f;
}
.m-fpm-media-cleaner .chip .count {
  background-color: #8f8f8f;
  color: white;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.m-fpm-media-cleaner .loading {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 15px;
}
.m-fpm-media-cleaner .loading div {
  position: absolute;
  top: 0;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.m-fpm-media-cleaner .loading div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.m-fpm-media-cleaner .loading div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.m-fpm-media-cleaner .loading div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.m-fpm-media-cleaner .loading div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
